
.seccion__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.seccion__card{
	margin-bottom:2rem;
	
	&__image {
	  width: 95%;
	  height: 24vh;
	  
	}
	
	&__title {
	font-weight:700;
	font-size: 1rem;
	
	}
  
  }

  .seccion__card__image{
    width: 150%;
    display: block;
    margin-bottom: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}
  .seccion__card__title{
	padding-top: 0.75rem;
	text-align: center;
  }
	.seccion__card__description{
	  color:$gray;
  font-weight: 300;
  
	}
  
  @media (max-width: 576px) {
	.seccion__card{
	  width: 80%;
	 margin: 0 auto;
	 margin-bottom: 1.25rem;
	  
	}
	.seccion__title{
	  display: flex;
	  justify-content: center;
	}
	.seccion__card__title{
	  font-size: 1.1rem;
	}
	.seccion__card__description{
	  color:$gray;
  font-weight: 400;
	}
  
  }

  .seccion__title {
	margin: 3rem 0;
	text-align: center;
	font-size: 1.7rem;
	font-weight: 400;
  }

  @media (max-width:800px){
.seccion{
	display: none;
}


  }